.chat_main
  .chat_main_header
    .chat_main_header_left_box
      %h2.chat_main_header_left_box_current_group
        = link_to group_messages_path(@group) do
          = @group.name
      %ul.chat_main_header_left_box_member_list
        Member:
        %ul
          -@group.users.each do |user|
            %li=user.name
          
    .chat_main_header_edit_btn
      = link_to edit_group_path(@group) do
        Edit
  
  
  .chat_main_messages
    = render @messages
    -# .chat_main_messages_message
      -# .chat_main_messages_message_upper_info
      -#   %p.chat_main_messages_message_upper_info_talker
      -#   %p.chat_main_messages_message_upper_info_date
      -# %p.chat_main_messages_message_text


  .form
    = form_for [@group, @message] do |f|
      .input_box
        = f.text_field :content, class: 'text', placeholder: 'type a message'
        = f.label :image, class: 'image' do
          = icon('fas', 'image', class: 'filed')
          = f.file_field :image, class: 'icon'
      = f.submit 'Send', class: 'submit_btn'