.chat_side
  .chat_side_side_header
    .chat_side_side_header_box
      %p.chat_side_side_header_box_user_name
        = current_user.name
      %ul.chat_side_side_header_box_menu
        = link_to "#", class: "edit_user_btn" do
          = icon('far',"edit")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')

  .chat_side_groups
    .chat_side_groups_group
      .chat_side_groups_group_name
        SHO
      .chat_side_groups_group_immediate_meassage
        おはよう

    .chat_side_groups_group
      .chat_side_groups_group_name
        SHO
      .chat_side_groups_group_immediate_meassage
        おはよう

